*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(234, 234, 234);
}
h1{
    display: inline-block;
}
.logo{
    background-color: white;
    padding: 5px 10;
    margin-bottom: 50px;
}
.logo h1, .logo img{
    vertical-align: middle;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.list-container-1{
    background-color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 2px;
}
.list-container-2{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button #task , #section{
    border-radius: 5px;
    padding: 9px;
    font-size: 11px;
    height: 25px;
    text-align: center;
    line-height: 9%;
}
#task{
   background-color:rgba(64, 181, 249, 0.884);
   color: white;
   border: 0;
}
#section{
    background-color:white;
    color:lightgrey;
    border-color: lightgrey;
}
ul,ol{
    padding-left: 18px;
    list-style: none;
}
li{
    margin-bottom: 10px;
}
.check{
    border: 2px solid rgb(13, 192, 115);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: rgb(13, 192, 115);
}
.done{
    border: 2px solid rgb(13, 192, 115);
    color: rgb(13, 192, 115);
}
.not-done{
    border: 2px solid red;
    color: red;
}
.editorial{
    border-radius: 15px;
    padding: 7px;
    font-size: 10px;
    height: 25px;
    width: 40px;
    text-align: center;
    line-height: 9%;
    background-color:rgba(64, 181, 249, 0.884);
    color: white;
}

